// Override this file to add your own SCSS styling.


.user-icon-avatar {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgrey;
  font-size: 4rem;
  margin: 0 auto;
  object-fit: cover;
  color: #666;
}
